html {
    box-sizing: border-box;
    background-color: #5500aacc;
    font-family: Ge
}

body {
    background-color: white;
    margin: 30px 20%;
    padding: 20px;
    outline: double black 20px;
    
}

h1 {
    text-align: center;
    padding: 8px;
}

ul, ol{
    margin-left: auto;
    margin-right: auto;
    
}



img{
    width: 100%;
    height: auto;
}

.link {
    text-align: right;
}